{% extends 'base.html' %}
{% block style %}
    <style>
        body {
            background-color: #f5f5f5;
        }
        
        .table {
            border: 1px solid #ddd;
            background-color: #fff;
        }

        .table th {
            background-color: #f5f5f5;
            border-bottom: 1px solid #ddd;
        }

        .table td {
            border-bottom: 1px solid #ddd;
        }
        
        .blue {
            background-color: #26a69a!important;
        }
        
        .container {
            margin-top: 30px;
        }


    code {
        color: #333;
        background-color: #f5f5f5;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-family: 'Courier New', monospace;
    }
    </style>    
    {% endblock %}
{% block content %}
    <div class="container">
        <form method="POST" action="{% url 'index' %}">
            {% csrf_token %}
            <div class="input-field">
                <input type="text" class="validate" name="query" placeholder="Digite o nome do curso ou docente">
                <button class="btn waves-effect waves-light" type="submit">Buscar</button>
            </div>
        </form>
        
        <p>Para buscar todos os dados, digite <code>.</code></p>
        
        <form method="POST" action="{% url 'export_to_excel' %}">
            {% csrf_token %}
            <input type="hidden" name="cursos" value="cursos">
            <button class="btn waves-effect waves-light green" type="submit">Exportar para Excel</button>
        </form>
        
    </div>
    
    <div class="container">
        <table class="striped table bordered">
            <thead>
                <tr>
                    <th>Curso</th>
                    <th>Turma</th>
                    <th>Componente</th>
                    <th>Carga H.</th>
                    <th>Docente</th>
                    <th>Ano</th>
                </tr>
            </thead>
            <tbody>
                {% for curso in cursos %}
                <tr>
                    <td>{{ curso.nome }}</td>
                    <td>{{ curso.turma }}</td>
                    <td>{{ curso.componente }}</td>
                    <td>{{ curso.carga_horaria }}</td>
                    <td>{{ curso.docente.nome }}</td>
                    <td>{{ curso.ano }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        {% endblock %}